@media (prefers-color-scheme: dark) {
  :root {
    // dark theme
    color-scheme: dark;
    --bg: #{$bg};
    --bg-200: #{$bg-200};
    --bg-400: #{$bg-400};
    --bg-500: #{$bg-500};

    --text: #{$text};
    // --gray: #{$gray};
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --bg: #f5f8fa;
    --bg-200: rgb(245, 245, 245);
    --bg-400: #d1d4de;
    --bg-500: #d4d7e0;

    --text: #040405;
    --gray: #585858;
  }
}

/* 2 */
[data-theme='light'] {
  --bg: #f5f8fa;
  --bg-200: rgb(245, 245, 245);
  --bg-400: #d1d4de;
  --bg-500: #d4d7e0;

  --text: #040405;
  --gray: #585858;
}

[data-theme='dark'] {
  --bg: #1a1a1d;
  --bg-200: #242428;
  --bg-400: #242428;
  --bg-500: #25282c;

  --text: #e1e1eb;
  --gray: #b9b8bd;
}

/* Custom Dark Mode Toggle Element */
.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  height: 20px;
}

.toggle-theme-wrapper span {
  font-size: 28px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
  background: transparent;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: cornflowerblue;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
