.input_color {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 40px;
  background: none;
  cursor: pointer;
}
.input_color::-webkit-color-swatch-wrapper {
  padding: 0;
}
.input_color::-webkit-color-swatch {
  border: solid 1px #000; /*change color of the swatch border here*/
  border-radius: 40px;
}
